/* FONTS 

    font-family: "Inria Serif", serif;
    font-weight: 400;
    font-style: normal;

    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-family: "Inter", sans-serif;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
*/

/* ALL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation Bar */
.container-header{
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem;
    position: relative;
    margin: 1em;
    z-index: 100;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom: 3px solid rgb(0, 0, 0);
}

.brand { /* Header title */
    font-family: "Inter", sans-serif;
    color: #183B4B;
    font-weight: 700;
    font-size: 2em;
    padding-left: 1em;
}
.navbar{
    margin-right: 3rem ;
}
.navbar a { /* Nabvar text */
    font-family: "Inter", sans-serif;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    margin: 1rem;
    font-size: 1.2em;
}

/* Home Section  */

.container{
    margin-left: 5em;
}

.title { /* Home Section Positioning */
    position: fixed;
    display: grid;
    grid-template-columns:  1fr 1fr;;
    margin-top: 4em;
}
.left-title{
    margin-top: 2.5em;
}
.title-top { /* Home title Styling */
    font-family: "Inter", sans-serif;
    color: #183B4B;
    font-weight: 680;
    font-size: 3.3em;
}
.title-bottom { /* Tagline styling */
    font-family: "Inter", sans-serif;
    color: #000000;
    font-weight: 350;
    font-size: 1.6em;
}

.title-button{
    margin-top: 8rem;
    margin-left: 5.5rem;
}
.start-button{ /* Button Styling */
    background-color: #183B4B;
    border: none;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 650;
    padding: 0.5em 2.7em;
    text-align: center;
    font-size: 2em;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 35px;
}
.right-title{ /* Home image positioning */
    position: relative;
}
#top-image{ /*Home image editing */
    max-width: 90%; 
}
.circle { /* Backround Circle (jgn ditiru) */
    position: absolute;
    top: 10%;
    left: 15%;
    width: 64%;
    height: 88%; 
    border-radius: 50%; 
    background-color: #183B4B;
    z-index: -1;
  }

/* MEDIA QUERIES */

@media (max-width: 1300px) { /* Web Sizing */
    .header {
        padding: 1.3rem 5%;
    }

    .navbar a { /* navbar button */
        margin-left: 1rem;
    }

    html {
        font-size: 80%;
    }
}
@media (max-width: 1000px) { /* Web Sizing */
    .header {
        padding: 1.3rem 5%;
    }

    .navbar a { /* navbar button */
        margin-left: 1rem;
    }

    html {
        font-size: 70%;
    }
}

@media (max-width: 910px) {
    .header {
        padding: 1.3rem 5%;
        border-bottom: 2px solid rgb(0, 0, 0);
    }
    .navbar a { /* navbar button */
        margin-left: 1rem;
    }
    html {
        font-size: 60.33%;
    }
}
@media (max-width: 810px) { /* Tablet Sizing */
    .header {
        padding: 1.3rem 5%;
        border-bottom: 2px solid rgb(0, 0, 0);
    }
    .navbar a {
        margin-left: 1rem;
    }
    html {
        font-size: 55%;
    }
}

@media (max-width: 660px) {
    .header {
        padding: 1.2rem 3%;
        border-bottom: 1px solid rgb(0, 0, 0);
    }
    .navbar a { /* navbar button */
        margin-left: 0.6rem;
    }
    html {
        font-size: 45%;
    }
}

@media (max-width: 540px) { /* Phone Sizing huge banget*/
    .header {
        padding: 1.3rem 3%;
        border-bottom: 1px solid rgb(0, 0, 0);
    }
    .navbar a { /* navbar button */
        margin-left: 0.3rem;
    }
    html {
        font-size: 40%;
    }
    .container{
        margin-left: 3rem ;
    }
    .brand{
        padding-left: 0.5rem;
    }
    .title-top{
        font-size: 2.5em;
    }
    .title-button{ /* Button Position */
        margin-top: 3rem;
        margin-left: 1rem;
    }
}

@media (max-width: 428px) { /* Phone Sizing huge*/
    .header {
        padding: 1.3rem 3%;
        border-bottom: 1px solid rgb(0, 0, 0);
    }
    .navbar a { /* navbar button */
        margin-left: 0.3rem;
    }
    html {
        font-size: 43%;
    }
    .container{
        margin-left:2.5rem ;
    }
    .brand{
        padding-left: 0.5rem;
    }
    .title-top{
        font-size: 2.5em;
    }
    .title-button{ /* Button Position */
        margin-top: 3rem;
        margin-left: 1rem;
    }
}

@media (max-width: 390px) { /* Phone Sizing small*/
    .header {
        padding: 1.3rem 3%;
        border-bottom: 1px solid rgb(0, 0, 0);
    }
    .navbar a { /* navbar button */
        margin-left: 0.3rem;
    }
    html {
        font-size: 43%;
    }
    .container{
        margin-left:2.5rem ;
    }
    .brand{
        padding-left: 0.5rem;
    }
    .title-top{
        font-size: 2em;
    }
    .title-button{ /* Button Position */
        margin-top: 3rem;
        margin-left: 1rem;
    }
}
