/* FONTS 

    font-family: "Inria Serif", serif;
    font-weight: 400;
    font-style: normal;

    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-family: "Inter", sans-serif;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
*/

/* ALL */

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.huge-text{/* huge blue text styling */
    font-family: "Inter", sans-serif;
    color: #183B4B;
    font-weight: 680;
    font-size: 3.85em;
    padding-bottom: 0.2em;
}
.regular-text{/* regular black text styling */
    font-family: "Inter", sans-serif;
    color: #000000;
    font-weight: 350;
    font-size: 1.7em;
}
.regular-text-2{/* regular black text-2 styling */
    font-family: "Inria Sans", sans-serif;
    color: #000000;
    font-weight: 350;
    font-size: 1.7em;
}

.container{ /* base container */
    padding-right:4rem ;
    padding-left: 4rem;
}
.container-1{ /* container type 1 for margin bottom */
    margin-bottom: 13.3rem
}
.container-2{ /* container type 2 for margin bottom */
    margin-bottom: 10rem;
}
/* Navigation Bar */

.container-header{
    width: 100%;
}
.header { /*Navbar styling*/
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    border-bottom: 3px solid rgb(0, 0, 0);
    background-color: white;
}
.brand { /* Header title */
    font-family: "Inter", sans-serif;
    color: #183B4B;
    font-weight: 700;
    font-size: 2.3em;
    padding-left: 1em;
}
.navbar{ /* bbl brand in navbar */
    margin-right: 2rem ;
}
.navbar a { /* Nabvar text */
    font-family: "Inter", sans-serif;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    margin: 0.8rem;
    font-size: 1.2em;
}

/* Main Content */

/* Home Section  */
.title { /* Home Section Positioning */
    display: grid;
    grid-template-columns:  1.9fr 1fr;;
    margin-top: 4em;
}
.left-title{ /* left title positioning */
    margin-top: 2.5em;
}
.title-button{ /* Button Positioning */
    margin-top: 8rem;
    margin-left: 5.5rem;
}
.start-button{ /* Button Styling */
    background-color: #183B4B;
    border: none;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 650;
    padding: 0.5em 2.7em;
    text-align: center;
    font-size: 2em;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 35px;
}
    /* Right Section Title */
.right-title{ /* Home image position */
    position: relative;
}
#top-image{ /* Home image editing */
    max-width: 100%; 
}
.right-title img{
    float: right;
}

/* About Us Section */
.about-we{ /* About us positioning */
    display: grid;
    grid-template-columns:  1.3fr 1.7fr;;
}
.left-bout{ /* Left side about us positioning */
    margin-left: 5.5rem;
}
#bout-image{ /* About us image size */
    max-width: 93%; 
}
    /* About us Right Section */
.right-bout{ /* right side about us positioning */
    text-align: right;
    margin-top: 8rem;
}
.right-bout .huge-text{
    padding-bottom: 0.2em;
}
    /* Vision Section */
.vision{ /* Vision section position */
    text-align: center;
}
    /* Mission Section */
.mission .huge-text{ /* Mission Section huge text position */
    text-align: center;
}
.mission .regular-text-2{ /* Mission Section regular-text-2 position */
    margin-left: 10rem;
    margin-right: 10rem;
}

/* Registration Section */
.registration{
    display: grid; /* Registration Section Positioning */
    grid-template-columns: 1fr 1fr;
}
#regimage{ /* Registration image size */
    width: 73.5%;
}
.regimage-box { /* Registration image position */
    object-fit: cover;
    right: 11.5%;
    position: relative;
}
    /* Right section Registration */
.regist-content{ /* Right section Registration position */
    padding-top: 9.5rem;
}
.regist-content .regular-text{ /* Registration section regular-text position */
    padding-bottom: 2rem;
}
#date{ /* Registration date */
    text-align: center;
}
.regbutton-box{ /* Registration button position */
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 1.5rem;
}
.regist-button{ /* Registration button style */
    cursor: pointer;
    text-align: center;
    padding: 0.8rem 3rem 1.6rem;
    background-color: #183B4B;
    border: none;
    text-align: left;
    border-radius: 30px;
    display: linear;
    font-family: "Inter", sans-serif;
    color: white;
    font-weight: 650;
    font-size: 2.1em;
}
.regist-button #learntext{  /* Registration button text position */
    display: inline-block;
    margin-right: 2rem;
}
.regist-button #pointy{  /* Registration button symbol style */
    font-family: monospace;
    font-size: 3rem;
}

/* MEDIA QUERIES */

@media (max-width: 1150px) { /* Web Sizing */
    /* All */
    html{
        font-size: 70%;
    }
    }

@media (max-width: 910px) {
    /* All */
    .container{
        padding: 5%;
    }
    .container-1{ /* container type 1 margin bottom*/
        margin-bottom: 12rem;
    }
    .container-2{ /* container type 2 margin bottom*/
        margin-bottom: 7rem;
    }
    .huge-text{ /* huge blue text sizing */
        font-size: 4.5em;
    }
    .regular-text{ /* regular black text sizing */
        font-size: 2.8em;
    }
    .regular-text-2{
        font-size: 2.8rem;
    }
    html{
        font-size: 40%;
    }
    /* Navbar */
    .header {
        padding: 2.2rem;
        border-bottom: 2px solid rgb(0, 0, 0);
    }
    .navbar{
        margin-right: 0rem;
    }
    .navbar a { /* navbar button */
        margin-left: 1rem;
        font-size: 2.2em;
    }
    .brand{
        padding-left: 2.2rem;
        font-size: 3.4em;
    }
    /* home section */  
    .title-button{ /* Button Position */
        margin-top: 3rem;
        margin-left: 1rem;
    }
    .start-button{
        padding: 0.7em 3em;
        font-size: 2.5em;
    }
    /* registration section */
    .regist-button{ /* regist button sizing */
        font-size: 3em;
        padding: 1.8rem 6rem 2.5rem;
    }
    .regist-button #learntext{ /* regist button text sizing */
        display: inline-block;
        margin-right: 1rem;
    }
    .regist-button #pointy{ /* regist button symbol sizing */
        font-size: 5rem;
    }
}

@media (max-width: 728px) {
    /* All */
    .container{
        padding: 5%;
    }
    .container-1{ /* container type 1 margin bottom*/
        margin-bottom: 12rem;
    }
    .container-2{ /* container type 2 margin bottom*/
        margin-bottom: 7rem;
    }
    .huge-text{ /* huge blue text sizing */
        font-size: 3.8em;
    }
    .regular-text{ /* regular black text sizing */
        font-size: 2.5em;
    }
    .regular-text-2{
        font-size: 2.5rem;
    }
    html{
        font-size: 40%;
    }
    /* Navbar */
    .header {
        padding: 1.9rem;
        border-bottom: 1.5px solid rgb(0, 0, 0);
    }
    .navbar{
        margin-right: 0rem;
    }
    .navbar a { /* navbar button */
        margin-left: 0.6rem;
        font-size: 1.8em;
    }
    .brand{
        padding-left: 2rem;
        font-size: 3em;
    }
    /* home section */  
    .title-button{ /* Button Position */
        margin-top: 3rem;
        margin-left: 1rem;
    }
    .start-button{
        padding: 0.7em 3em;
        font-size: 2em;
    }
    /* about us section*/
    .right-bout{
        margin-top: 10rem;
    }
    .left-bout {
        width: 100%;
    }
    .left-bout img{
        right: 20%;
        top: 0%;
        position: relative;
    }
    /* mission section */
    .mission .regular-text-2{ /* mission text margin */
        margin-left: 5% ;
        margin-right: 5%;
    }
    /* registration section */
    .regist-button{ /* regist button sizing */
        font-size: 2em;
        padding: 1.5rem 5rem 2rem;
    }
    .regist-button #learntext{ /* regist button text sizing */
        display: inline-block;
        margin-right: 1rem;
    }
    .regist-button #pointy{ /* regist button symbol sizing */
        font-size: 3rem;
    }
}

@media (max-width: 512px) { /* Phone Sizing huge*/
    /* All */
    .container{
        padding: 5%;
    }
    .container-1{ /* container type 1 margin bottom*/
        margin-bottom: 10rem;
    }
    .container-2{ /* container type 2 margin bottom*/
        margin-bottom: 6rem;
    }
    .huge-text{ /* huge blue text sizing */
        font-size: 2.7em;
    }
    .regular-text{
        font-size: 1.7em;
    }
    .regular-text-2{
        font-size: 1.7em;
    }
    html{
        font-size: 40%;
    }
    /* Navbar */
    .header {
        padding: 2rem ;
        border-bottom: 1px solid rgb(0, 0, 0);
    }
    .navbar{
        margin-right: 0rem;
    }
    .navbar a { /* navbar button */
        margin-left: 0.3rem;
        font-size: 1.25em;
    }
    .brand{
        padding-left: 0.5rem;
        font-size: 2.2em;
    }
    /* home section */
    .title-button{ /* Button Position */
        margin-top: 3rem;
        margin-left: 0rem;
    }
    .start-button{
        padding: 0.7em 2.8em;
        font-size: 1.3em;
    }
    .mission .regular-text-2{ /* mission lower text margin */
        margin-left: 5% ;
        margin-right: 5%;
    }
    /* registration section */
    .regist-button{ /* regist button sizing */
        font-size: 1.4em;
        padding: 0.3rem 2rem 1rem;
    }
    .regist-button #learntext{ /* regist button text sizing */
        display: inline-block;
        margin-right: 1rem;
    }
    .regist-button #pointy{ /* regist button symbol sizing */
        font-size: 2.5rem;
    }
}

@media (max-width: 390px) { /* Phone Sizing small*/
    /* All */
    .container{ /* base container padding*/
        padding: 4%;
    }
    .container-1{ /* container type 1 margin bottom*/
        margin-bottom: 10rem;
    }
    .container-2{ /* container type 2 margin bottom*/
        margin-bottom: 10%;
    }
    .huge-text{ /* huge blue text sizing */
        font-size: 2.5em;
    }
    .regular-text{ /* regular black text sizing */
        font-size: 1.65em;
    }
    .regular-text-2{
        font-size: 1.65em;
    }
    html{
        font-size: 40%;
    }
    /* Navbar */
    .header {
        padding: 1.3rem;
        border-bottom: 1px solid rgb(0, 0, 0);
    }
    .navbar{
        margin-right: 0rem;
    }
    .navbar a { /* navbar button */
        margin-left: 0.3rem;
        font-size: 1.1em;
    }
    .brand{ /* bbl brand in navbar */
        padding-left: 0.5rem;
        font-size: 2em;
    }
    /* home section */
    .title-button{ /* Button Position */
        margin-top: 12%;
        margin-left: 0%;
    }
    .right-title{ /* image in homes section margin */
        margin-top: 1%;
    }
    /* mission section */
    .mission { /* mission text margin */
        margin-left: 5% ;
        margin-right: 5%;
    }
    /* Registration section */
    .regist-button{ /* regist button sizing */
        font-size: 1.4em;
        padding: 0.3rem 2rem 1rem;
    }
    .regist-button #learntext{ /* regist button text sizing */
        margin-right: 1rem;
    }
    .regist-button #pointy{ /* regist button symbol sizing */
        font-size: 2.5rem;
    }
}



.home-container{
    width: 100%;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.profile-card{
    position: relative;
    width: 120px;
    height: 120px;
    background-color: #183B4B;
    padding: 30px;
    border-radius: 50%;
    box-shadow: -5px 8px 45px rgba(51, 51, 51, 0.126);
    transition: all .4s;
    margin: 0 20px;
}
.profile-card:hover{
    padding: 50px;
    border-radius: 10px;
    height: 150px;
}
.profile-card .img{
    position: relative;
    width: 100%;
    height: 100%;
}
.profile-card:hover img{
    border-radius: 10px;
    transform: translateY(-70px);
}
.img img{
    object-fit: fill;
    width: 100%;
    border-radius: 50%;
    transition: all .4s;
    z-index: 99;
}
.caption{
    text-align: center;
    transform: translateY(-90px);
    opacity: 0;
    pointer-events: none;
    transition: all .5s;
}
.profile-card:hover .caption{
    opacity: 1;
    pointer-events: all;
}
.caption h3{
    font-size: 21px;
    color: #fff;
    font-weight: 600;
    margin: 5px 0 12px 0;
}
.caption p{
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    margin: 2px 0 12px 0;
}
.caption .social-links i{
    font-size: 21px;
    margin: 0 3px;
    cursor: pointer;
    color: #fff;
    transition: all .4s;
}
.caption .social-links i:hover{
    color: #fff;
}

@media screen and (max-width: 768px) {
    .home-container {
      flex-direction: column;
      height: auto;
    }
    .profile-card {
      margin: 20px 0;
    }
}

@media (max-width: 530px) {
    .home-container {
      flex-direction: column;
      height: auto;
    }
    .profile-card {
      margin: 10px 0;
    }
}
  



/* footer */

footer {
    position: fixed;
    border-top: 3px solid rgb(0, 0, 0);
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    background-color: #fff;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #000;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #000;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #000;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 25%;
}

.footer-distributed .footer-center i {
    color: #000;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #000;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 25%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #000;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 2px;
    font-size: 20px;
    color: #000;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}    